*.dcu
*.rsm
*.identcache
*.local
*.stat
.vs
x64
Debug
Release
*.recipe
*.ilk
*.log
*.obj
*.idb
*.pdb
*.pdb
*.tlog
*.exp
*.filters
*.user
*.pch
*.iobj
*.ipdb
/test02/x64/Debug/test02.vcxproj.FileListAbsolute.txt
/test02/x64/Release/test02.vcxproj.FileListAbsolute.txt
/test02/Debug/test02.vcxproj.FileListAbsolute.txt
/test02/Release/test02.vcxproj.FileListAbsolute.txt
